
@use '../../color' as *;
@use '../../mixin' as *;

.recipe{
    width: 100%;
    overflow: auto;
}

.recipe__title{
    font-size: 35px;
    text-align: center;
}

.recipe__list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem; 
  padding: 1rem; 
}