$colorWhite: #FFf;
$colorGren: #308E21;
$colorBlue: #67A5EB;
$colorGray: #393B3C;
$colorGrayLight:#c09c96;
$colorKrayola:#6A5DC2;
$colorblack: #0b0a0a;
$colorRed: #FF7575;
$colorGrayLighter: #e5d3d3c6;
$colorDisabled: #45526E;
$colorOrange: #A59400;
